@import "../../assets/static/scss/mixin.scss";

.nav-bar-master{
    width: 100vw;
    height: 80px;
    background-color: #060709;
    // border-bottom: 0.5px solid #E5E5E5;
    font-family: 'Poppins' !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-bar-full-main{
    width: 95vw;
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.full-logo-box{
    width: 170px;
    display: flex;
    // justify-content: center;
    align-items: center;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center; 
}

.logo-image{
    height: 70px;
    width: 150px;
    margin-right: 10px;
}

.logo-text{
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
}


.nav-menu-box{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.nav-menu{
    display: flex;
    // justify-content: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1em;  
    color: #FFFFFF;
    &:hover{
        transform: scale(1.1);
        transition: all .55s cubic-bezier(.19,1,.22,1);
        text-decoration: underline;
        text-underline-offset: 7px;
    }
}